# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
.angular
/libs/shared/backend/amplify/**/*
/libs/shared/backend/src/graphql/schema.json
/libs/shared/assets/src/lottie-icons/**/*
amplifyconfiguration.json
