<nav>
  <ul>
    @if (!isLoggedIn) {
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </li>
    } @else {
    <li>
      <a
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a routerLink="/profile-edit" routerLinkActive="active"> Profile </a>
    </li>
    <li>
      <button (click)="logout.emit()">Logout</button>
    </li>
    }
  </ul>
</nav>
