nav {
  border: 1px solid black;
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    li {
      padding: 4px 8px;
      &:not(:first-child) {
        border-left: 1px solid black;
      }
    }
  }
}
