<tk-navbar [isLoggedIn]="$isLoggedIn | async" (logout)="logout()"></tk-navbar>

<amplify-authenticator>
  <ng-template amplifySlot="header">
    <div style="padding: var(--amplify-space-large); text-align: center">
      Custom Header
    </div>
  </ng-template>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <router-outlet></router-outlet>
  </ng-template>
  <ng-template amplifySlot="footer">
    <div style="padding: var(--amplify-space-large); text-align: center">
      <p class="amplify-text" style="color: var(--amplify-colors-neutral-80)">
        © All Rights Reserved
      </p>
    </div>
  </ng-template>
</amplify-authenticator>
