<amplify-authenticator>
  <ng-template amplifySlot="header">
    <div style="padding: var(--amplify-space-large); text-align: center">
      <tk-horz-logo></tk-horz-logo>
    </div>
  </ng-template>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <tk-navigation-rail
      [opened]="$isLoggedIn | async"
      [destinations]="destinations"
      (logout)="logout()"
    >
      <router-outlet></router-outlet>
    </tk-navigation-rail>
  </ng-template>
  <ng-template amplifySlot="sign-in-footer">
    <button
      mat-button
      color="primary"
      class="app-footer-button"
      (click)="authenticator.toForgotPassword()"
    >
      Reset Password
    </button>
  </ng-template>
</amplify-authenticator>
