$white: #fffffe;
$greyDark: #272343;

$yellow-palette: (
  50: #fffae1,
  100: #fff3b3,
  200: #ffec81,
  300: #ffe44f,
  400: #ffde29,
  500: #ffd803,
  600: #ffd403,
  700: #ffce02,
  800: #ffc802,
  900: #ffbf01,
  A100: $white,
  A200: #fffbf2,
  A400: #ffedbf,
  A700: #ffe5a6,
  contrast: (
    50: $greyDark,
    100: $greyDark,
    200: $greyDark,
    300: $greyDark,
    400: $greyDark,
    500: $greyDark,
    600: $greyDark,
    700: $greyDark,
    800: $greyDark,
    900: $greyDark,
    A100: $greyDark,
    A200: $greyDark,
    A400: $greyDark,
    A700: $greyDark,
  ),
);

$teal-palette: (
  50: #f7fcfc,
  100: #eaf8f8,
  200: #ddf4f4,
  300: #cfefef,
  400: #c4ebeb,
  500: #bae8e8,
  600: #b3e5e5,
  700: #abe2e2,
  800: #a3dede,
  900: #94d8d8,
  A100: $white,
  A200: $white,
  A400: $white,
  A700: #f3ffff,
  contrast: (
    50: $greyDark,
    100: $greyDark,
    200: $greyDark,
    300: $greyDark,
    400: $greyDark,
    500: $greyDark,
    600: $greyDark,
    700: $greyDark,
    800: $greyDark,
    900: $greyDark,
    A100: $greyDark,
    A200: $greyDark,
    A400: $greyDark,
    A700: $greyDark,
  ),
);