$primary: (
  50: #e6ecef,
  100: #bfcfd7,
  200: #95b0bd,
  300: #6b90a2,
  400: #4b788e,
  500: #2b607a,
  600: #265872,
  700: #204e67,
  800: #1a445d,
  900: #10334a,
  A100: #84caff,
  A200: #51b4ff,
  A400: #1e9eff,
  A700: #0493ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$accent: (
  50: #fef8eb,
  100: #fdeecd,
  200: #fce3ab,
  300: #fbd889,
  400: #facf70,
  500: #f9c757,
  600: #f8c14f,
  700: #f7ba46,
  800: #f6b33c,
  900: #f5a62c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffebce,
  A700: #ffe0b4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$grey: (
  50: #fafafa,
  100: #f2f2f2,
  200: #e9e9e9,
  300: #e0e0e0,
  400: #dadada,
  500: #d3d3d3,
  600: #cecece,
  700: #c8c8c8,
  800: #c2c2c2,
  900: #b7b7b7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fff5f5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn: (
  50: #fdebe9,
  100: #fbcdc8,
  200: #f8aca3,
  300: #f58b7e,
  400: #f37262,
  500: #f15946,
  600: #ef513f,
  700: #ed4837,
  800: #eb3e2f,
  900: #e72e20,
  A100: #ffffff,
  A200: #ffeceb,
  A400: #ffbcb8,
  A700: #ffa49e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
