:root {
  --amplify-components-button-border-radius: 4px;
  --amplify-fonts-default-variable: 'Montserrat', sans-serif;
}

.amplify-tabs__list--top {
  --internal-item-border-width: 0 0 2px 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

amplify-authenticator {
  display: block;
  height: 100%;

  [data-amplify-authenticator] {
    height: 100%;
    & > [data-amplify-container] {
      margin-top: -65px;
      & > [data-amplify-router] {
        border-radius: 30px;
      }
    }
  }
}
