@use '@angular/material' as mat;
@use './palette';
@use './typography';
@use '../../../../libs/shared/ui/src/index' as shared-ui;

@function mat-set-background($theme, $backgroundColor) {
  $palette-color: map-get($theme, color);
  $background: map-get($palette-color, background);
  $background: map_merge(
    $background,
    (
      background: $backgroundColor,
    )
  );
  $palette-color: map_merge(
    $palette-color,
    (
      background: $background,
    )
  );
  @return map_merge(
    $theme,
    (
      color: $palette-color,
    )
  );
}

@include mat.core();

$trucking-kit-primary: mat.define-palette(palette.$primary);
$trucking-kit-accent: mat.define-palette(palette.$accent);
$trucking-kit-warn: mat.define-palette(palette.$warn);

$trucking-kit-theme: mat.define-light-theme(
  (
    color: (
      primary: $trucking-kit-primary,
      accent: $trucking-kit-accent,
      warn: $trucking-kit-warn,
    ),
    typography: typography.$config,
  )
);
$trucking-kit-theme: mat-set-background(
  $trucking-kit-theme,
  mat.get-theme-color($trucking-kit-theme, primary, 50)
);

@include mat.typography-hierarchy(typography.$config);
@include mat.all-component-themes($trucking-kit-theme);
@include shared-ui.all-component-themes($trucking-kit-theme);

:root {
  $weights: '10' 100, '20' 200, '40' 300, '60' 400, '80' 'default', '90' 700,
    '100' 900;
  @each $aweight, $mweight in $weights {
    --amplify-colors-primary-#{$aweight}: #{mat.get-theme-color(
        $trucking-kit-theme,
        primary,
        $mweight
      )};
    --amplify-color-accent-#{$aweight}: #{mat.get-theme-color(
        $trucking-kit-theme,
        accent,
        $mweight
      )};
  }
}

amplify-authenticator > [data-amplify-authenticator] {
  background-image: url('/assets/textures/noise-light.png'),
    linear-gradient(
      280deg,
      hsl(200deg 48% 32%) 0%,
      hsl(199deg 40% 37%) 4%,
      hsl(198deg 34% 42%) 8%,
      hsl(198deg 29% 48%) 12%,
      hsl(197deg 28% 53%) 16%,
      hsl(195deg 30% 58%) 21%,
      hsl(194deg 33% 63%) 27%,
      hsl(193deg 37% 69%) 33%,
      hsl(191deg 42% 74%) 41%,
      hsl(190deg 51% 80%) 52%,
      hsl(188deg 66% 85%) 67%,
      hsl(187deg 100% 91%) 100%
    );
}
