:host {
  display: block;
  padding: 24px;
}

table {
  border: solid 1px grey;
  border-collapse: collapse;
  border-spacing: 0;
  th {
    background-color: lightgrey;
    border: solid 1px grey;
    padding: 8px;
    text-align: left;
  }
  td {
    border: solid 1px grey;
    padding: 8px;
    vertical-align: middle;
    text-align: center;

    &:first-child {
      font-weight: bold;
      background-color: lightgrey;
    }
  }
}
